
    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 38px;
    }
    
    .Video-info-grid{
      display: grid;
      grid-template-columns: 50px 1fr;
    }
    .thumbnail{
      width:100%; 
    
      
    }

    .thumbnail-row{
      margin-bottom: 8px;
      position: relative;
    }

    .video-time{
      background-color: black;
      color: white ;
      font-family: Roboto,Arial;
      font-size: 12px;
      padding: 3px;
      border-radius: 2px;
      font-weight: 550;   
      position: absolute;
      bottom: 20px;
      right:5px
      
    }
   
    .video-title{
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
    }
    
    .Channel-1-Pic{
      width: 36px;
      border-radius: 50px;
      
      
    }
    .video-author,.video-stats{
      font-size: 12px;
      color: rgb(96,96,96);
      
    }
    .video-author{
      margin-bottom: 5px;
    }
    

    @media(max-width:750px){
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }
    @media(min-width:751px) and (max-width:999px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media(min-width:1000px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    

   